/*Logo Colors - Text color: rgba(148, 193, 237, 1);
/* or #94c1ed */

@import url(http://fonts.googleapis.com/css?family=Oxygen:300);

body {
	background-image: url('../images/bigbeanburlap.jpg');
	text-align: left;
	color: *#525051;
	font-family: 'Oxygen', sans-serif;
	font-size: 1em;
}

/*Navigation Bar*/

.navbar {
	list-style-type: none;
	margin:0;
	padding: 0;
	text-align: center;
}

.navbar a{
	display: inline-block;
	width: 75px;
}

.navbar li{
	display: inline;
}

hr {
	color: white;
}

	.container {
	background-color: #ccc;
	border-radius: 30px; /*need to add moz support*/
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	margin-bottom: auto;
	width: 80%;
	padding: 40px;
	opacity: .75;
}

.main {
	background-color: #e5e5e5;
	border-radius: 30px;
	padding: 20px;
	margin: 30px;
	text-align: center;
}

/*Markup for logo*/

.finallogo{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    border: 1px solid gray;
    background-image: url(../images/blkwhite.jpg);
    background-repeat: no-repeat;
    background-size: 200px 200px; 
    position: relative;
    z-index: -1;
    text-align: center;
    max-width: 100%;
    margin: auto; 
}



.sign {
  color:  #fff;
  border: .1em solid gray;
  border-radius: 1.5em;
  text-align: center;
  margin: 0 auto;
  width: 200px;
  font-size: 1.5em;
  font: bold;
  line-height: 1.5em;
  
  background-color: #94C1ED;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#99d4f0), to(#7eacc2));
  background-image: -webkit-linear-gradient(#99d4f0, #7eacc2);
  background-image: -moz-linear-gradient(#99d4f0, #7eacc2);
  background-image: -o-linear-gradient(#99d4f0, #7eacc2);
  background-image: linear-gradient(#99d4f0, #7eacc2);
  
  box-shadow: .1em .1em 2em #7eacc2;
  text-shadow: .1em .1em 0 #7eacc2;
  position: absolute;
  top: 140px;
}

/*Markup for image gallery*/

img.fadeImage {
  display: none;
}

img.gallery{
  width: 24%;
  height: 24%;
}


/*Markup for Food/Drink Menu */

table {
	text-align: left;
	border: 1px gray solid;
	margin-right: auto;
	margin-left: auto;
	background-image: url("../images/resumepaper.jpg");

}

td, th {
	padding: 10px;
}


/*Markup for Events/Calendar*/

.minical {
	margin: auto;
	text-align: center;
}
.calendar {
	/*background: white;*/
	background-color: #e5e5e5;
	border-radius: 30px;
	text-align: center;
	padding: 5px;
}

/*Markup for Contact Page/Map*/

.map {

	background-color: white;
	float: left;
	padding-bottom: 1px;
	border-radius: 20px;
}

/* link for map - http://goo.gl/maps/H8JnT*/




/*ADDED GRADIENT COLORS TO BUTTONS -- refer to sign's gradient colors*/

.site-button {
	background: #94c1ed;

	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#99d4f0), to(#7eacc2));
    background-image: -webkit-linear-gradient(#99d4f0, #7eacc2);
    background-image: -moz-linear-gradient(#99d4f0, #7eacc2);
    background-image: -o-linear-gradient(#99d4f0, #7eacc2);
    background-image: linear-gradient(#99d4f0, #7eacc2);

	color: white;
	font: italic;
	padding: 5px 10px;
	border-radius: 10px;
	border: solid 1px #838383;
	text-shadow: 0 -1px 0 gray;
	text-decoration: none;
	-webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

.site-button:hover, .site-button:focus {
	/*background: #80b2e5;*/
	background: white;
	color: #94c1ed;
	border: solid 1px #696969;
	text-decoration: none;
	/*need to add webkit*/

};

/*Form Button Markup*/

#formbutton {
	background: #94c1ed;

	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#99d4f0), to(#7eacc2));
    background-image: -webkit-linear-gradient(#99d4f0, #7eacc2);
    background-image: -moz-linear-gradient(#99d4f0, #7eacc2);
    background-image: -o-linear-gradient(#99d4f0, #7eacc2);
    background-image: linear-gradient(#99d4f0, #7eacc2);

	/*color: white;*/
	font: italic white;
	padding: 5px 10px;
	border-radius: 10px;
	border: solid 1px #838383;
	text-shadow: 0 -1px 0 gray;
	text-decoration: none;
}

#formbutton:hover, #formbutton:focus {
	
	background: white;
	color: #94c1ed;
	border: solid 1px #696969;
	text-decoration: none;
	/*need to add webkit*/

};

.thankyou {
	text-align: center;
}


/* Clear Fix */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}